name: Deploy documentation

on: [push]

jobs:
  build:
    name: Build OS-Matcher with documentation
    runs-on: ubuntu-latest
    container:
      image: bibermann/os-matcher:gcc-sphinx
    steps:  
    - name: Checkout
      uses: actions/checkout@v2
      with:
          persist-credentials: false
    - name: Clean
      run: |
        rm -rf build/install
        rm -rf build/docs/sphinx
        rm -rf docs/_api
    - name: Build
      run: |
        mkdir -p build/install
        cd build
        cmake .. -GNinja -DCMAKE_BUILD_TYPE=Release -DBUILD_DOCS=ON
        ninja install
    - name: Upload build directory
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: build
  pages:
    name: Copy documentation
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: Download build directory
      uses: actions/download-artifact@v2
      with:
        name: build
        path: build
    - name: Create public folder
      run: |
        if [ ! -f build/install/doc/html/index.html ]; then
          mkdir -p public
          echo "Build-error." > public/index.html
        else
          rm -rf public
          cp -r build/install/doc/html public
          rm -rf public/.doctrees
          touch public/.nojekyll  # bypass Jekyll processing on GitHub Pages
        fi
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: public
